@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@0,700;1,400&family=League+Spartan:wght@300&family=Merriweather:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan' , sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px ;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.selection-p1{
    padding: 40px  80px;
}

.selection-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}



#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky; /*This stickes the headder of the web page at the top */
    top: 0;
    left: 0;
    z-index: 999;
}


#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.25s ease;
}

#navbar li a:hover,
#navbar li a.active
{
    color: rgb(3, 19, 251);
}


#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:rgb(3, 19, 251); 
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#close{display: none;}



#Contextdivision1 strong{
line-height: 20px;

}

.paddetails{
    padding-top: 6px;
}
#Productdetails{
    display: flex;
    
}


#Productdetails .imageset{
    width: 100%;
       
}

#mobile{
    display:none;
    align-items: center;
    }

img.iphone1{
    width: 35%;
    padding-right: 3px;
}


div.smal-images{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    
}

span.informationofproduct{
    font-family:'League Spartan' , sans-serif ;
    font-weight: bold;
    text-align: start;
    line-height: 20px;
    
}


#Productdetails .producttextpart select{
    display: block;
    padding: 50x 10px;
    margin-bottom: 10px;
}

#Productdetails .producttextpart input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid #088178;
    outline:none;   
}

#Productdetails .producttextpart input::-webkit-inner-spin-button,
#Productdetails .producttextpart input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

button.addthrouhcartbtn{
    padding: 4px 6px;
    background-color: #088178;
    color: #E3E6F3;
    border: 1px solid #128f8b;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    height: 47px;
}
.loginbox{
    width: 320px;
    height: 420px;
    background-color: #000;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 30%;
    border-radius: 10px;

}
.loginbox .avatar{
    border-radius: 50%;
    position: absolute;
    width: 30%;
    left: 35%;
    top: -10%;
   
}

.loginbox .usernamepassword{
    position: absolute;
    top: 25%;
    left: 10%;
    line-height: 25px;
}

.loginbtn:hover{
    cursor: pointer;
    background-color: #088178;
    transition: 0.25s;
}

input.logininput{
    background-color: transparent;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    outline: none;
    width: 170%;

}


.loginbtn{
    position: absolute;
    top: 60%;
    right: 60%;
    padding: 6px;
    background-color: red;
    border-radius: 20px;
    width: 30%;
    color: white;

}
.positionfix{
    position: absolute;
    top: 60%;
    left :60%;
}

.loginbox .positionfix1{
    position: absolute;
    top: 80%;
    left: 37.5%;
    text-decoration: none;
    color: blue;
    
}

.loginbox .positionfix1:hover{
    color: white;
    text-decoration: underline;
}

#hero{
    background-image: url("Assets/Back1.png");
    height: 90vh; /*Setting Height for the image */
    width: 100%;  /*width is set to be 100%*/
    background-size: cover; 
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



#hero h4{
    padding-bottom: 15px;
}

#hero h2{
    color: #128f8b;
}
#hero button{
    background-color: #128f8b;
    border: 0;padding: 12px 12px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 15px; 
}

#hero button:hover{
    box-shadow: 0 0 20px rgb(211, 103, 211) ;

}

.Nykaa  {
    padding-top: 20px;
    height: 50vh;
    width: 100%;
}
.Samsung {
    padding-top: 20px;
    height: 70vh;
    width: 100%;
}


#feature{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap; /*Allows the contents of the containor to wrap around with equal spaces as justifified by justify content */
}

#feature .fe-box{
    align-items: center;
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0,0,0.3);
    border-radius: 4px;
    margin: 15px 0;   
    border: solid #128f8b ; 
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;/*It is used to align the text perfectly inside the given background color after giving padding*/
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    
}

#feature .fe-box:nth-child(4) h6{
    background-color: aqua;
}

#feature .fe-box:nth-child(2) h6{
    background-color: yellow;
}

#feature .fe-box:nth-child(3) h6{
    background-color: yellowgreen;
}

#feature .fe-box:nth-child(5) h6{
    background-color: rgb(255, 218, 149);
}
#feature .fe-box:nth-child(6) h6{
    background-color: paleturquoise;
}


#mobiles{
  text-align: center;

}

#mobiles .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid rgb(7, 226, 234);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 00.25s ease;
    position: relative;
}



#mobiles .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);

}

#mobiles .pro img{
    width: 100%;
    border-radius: 20px;
}
#mobiles .pro .des{
    text-align: start;
    padding: 10px 0px;

}

#mobiles .pro .des span{
color: #606063;
font-size: 13px;
}

#mobiles .pro .des h5{
   padding-top: 10px;
   padding-bottom: 7px;
   color: #1a1a1a;
   font-size: 20px;
}
#mobiles .pro .des h4{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #088178;
    font-weight: 700;
}

#mobiles .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px; /*Basically Line Height is used to set the distance between the lines of a text */
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid black;
    position: absolute;
    bottom: 20px;
    margin-left: 80px;
   
}  

#mobiles .procontainor{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#blog{
    padding: 90px 150px 0 150px;/*TRBL - Top,right,bottom,left*/
    
     
}
#blog .blogbox{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: justify;
    background-color: #E3E6F3;
    border-radius: 5px;
    line-height: 20px;
    position: relative;
}
#blog .blogimg{
    width: 40%;
    margin-right: 40px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

#blog img{
    object-fit: cover;
  
}
#blog .blogdetails{
    width: 50%;
}

#blog .blogdetails a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    position: relative;
}

#blog .blogdetails a::after {/*After is a psuedo element . Before is also also a psuedo element*/
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 9px;
    right: -60px;
}

#blog .blogdetails a:hover{
    color: #088178;
    transition: 0.25s;
}
#blog .blogdetails a:hover::after{
    color: #088178; /*hover is used first when compared to a psuedo element */
} 

#blog .blogbox h1{
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: -30px;
    color: #606063;
  

}
#blog .last{
    margin-bottom: 40px;
}



#about-head {
    display: flex;
    align-items: center;
    padding-left: 220px;
    
}
#about-head img{
    padding-right :30px;
  
    
}
#about-head div{
    width: 50%;
    padding-left: 40px;
    text-align: justify;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#videoadd {
    text-align: center;
    
}

#videoadd video{
    width: 60%;
    border-radius: 4px;
    
    
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .contactdetails{
    width: 40%;
}
#contact-details .contactdetails li{
list-style: none;
display: flex;
padding: 10px 0;

} 


#contact-details .map {
    width: 55%;
    height: 400px;
  
}

#contact-details .map  iframe{
  width: 100%;
  height: 100%;
}


#contact-details .contactdetails li p {
    margin: 0;
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;

}

#formid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E6F3;
}

#formid form{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   width: 65%;
}
#formid form input , #formid form textarea{
    padding: 12px 15px;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1 ;
    font-weight: bolder;

}

#formid form button{
    border: 1px solid #e1e1e1;
}

#formid .peopel div  {
   padding-bottom: 25px;
   line-height: 15px;
   display: flex ;
   align-items: flex-start;
  
}


#formid .peopel div img{
    width: 55px;
    height: 65px;
    object-fit: cover;/*Object fit cover*/
    margin-right: 15px;
    border-radius: 50%;
}
#formid .peopel div p{
 margin: 0;
 font-size: 13;
 line-height: 25px;
}

#form-details .people div p span{
    display: bl0ck;
    font-size: 16px;
    font-weight: 600;
    color: #000;

}
 
.Founder_people{
    display: flex;
    align-items: center;


}
.Founder_people img{
    border-radius: 100%;
}
.Founder_people li{
    list-style: none;
    padding-left: 20px;
}


/*Cart Page */
#cart table{
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
   white-space: nowrap;
}

#cart table img{
    width: 70px;

}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e1e1e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;

}

#cart table tbody td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;

}

#cart-add{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
 #coupon {
width: 50%;
margin-bottom: 30px;
}
#coupon input{
    outline: none;
    padding: 10px 20px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    font-weight: bold;

}
#coupon button,
#subtotal button{
    background-color: #088178;
    padding: 12px 20px;
}

#subtotal {
    width:50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;padding: 30px;


}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width:50% ;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;

}
#subtotal h3{
    padding-bottom: 20px;
}




#banner{
 padding-top: 80px;
 padding-bottom: 80px;
 text-align: center;
 line-height: 60px;
 background-image: url("Assets/banner70off.jpg");
 background-size: cover; 
 background-position: center;
}
 #banner .off70{
    color: red;
}

#banner .other_color{
    color: rgb(239, 239, 246);
}
#banner .other_color1{
    color: #d8df12;
}




button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.normal:hover{
    background-color: #088178;
    color: white;
    width: fit-content;

}


#banner1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#banner1 .bannerbox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Assets/BannerBox/1st banner.png");
    background-position: center;
    line-height: 50px;
    height: 400px;
    min-width: 650px;
    height: 50vh;
    margin: 30px 0;
    
}

#banner1 .bannerbox2{
    background-image: url("Assets/BannerBox/2nd banner.png");
    height: 328px;
    width: 650px;
    margin: 30px 0;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
 
 }

#banner1 .bannerbox2 .error{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    right: 250px;
    left: 250px;
    margin-bottom: 60px;
    
    

}


#banner1 .bannerbox1 h4 , #banner1 .bannerbox1 h2,#banner1 .bannerbox1 span {
    color: white;

}

#newsletter{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("Assets/newsletter.png");
    background-position: 20% 30%;
    flex-wrap:wrap;
    height: 250px;
}

#newsletter span{
    color: #cf161f;
}

#newsletter div h4 , #newsletter div p {
    color: #f7fefff6
}

#newsletter div form input {
    padding: 2px 8px;
    width: 400px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #E3E6F3;
    color: #010606f6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footerid{
    display: flex;
    justify-content: space-between;
}


#footerid .icons{
margin-top: 4px;
margin-bottom: 4px;
}
#footerid .col ul{
    line-height: 20px;
}
#footerid .col ul li {
list-style-type: none;    
}

#footerid .col ul li a,
.removeund{
text-decoration: none;
color: black;

}

#footerid .col ul li a:hover,
.removeund:hover{
    color: rgb(72, 191, 42);
    transition: 0.25s;
    
}


#Shophero{
    
    background-image: url("Assets/shop/OPBand_Jasprit-I.png");
    height: 60vh;
    background-position: top 30% left 20% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchitems{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background-color:#E3E6F3;
    box-shadow:  0px 4px 10px  #1a1a1a ;

    
}

.searchitems .searchbar{
    
    width: 300px;
    height: 30px;
    border: #5b5858 solid 2px;
    border-radius: 4px;
}
  

.pagination{
    text-align: center; 
    padding-bottom: 30px;
       
}
.pagination a{
    text-decoration: none;
    color: white;
    background-color: #088178;
    padding: 2px 8px;
    font-size: larger;
    border-radius: 2px;

}


/*Styling for single product page */




/*Start Media Query*/

@media (max-width:799px) {
    .selection-p1 {
        padding: 20px  20px;
    }

    #navbar {
       display:flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content:flex-start ;
       position:fixed;
       top: 0;
       right: -300px;
       height: 100vh;
       width: 300px;
       background-color: #E3E6F3;
       box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
       padding: 80px 0 0 10px;
       transition: 0.25s;
    
    }

    
   #navbar li{
        margin-bottom: 25px;
       
    }

    #navbar .lg-bag{
        display: none;
    }

    
    #navbar.active{
        right: 0px;
    }


    #mobile{
        display:flex;
        align-items: center;
        }

    #mobile i{
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        position:absolute;
        display: initial; /*Basically used to display the close button (Make the close icon visible)*/
        top: 30px;
        left:30px;  
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    .Nykaa {
        padding-top: 20px;
        height: 30vh;
        width: 100%;
    }

    #feature {
        justify-content: center;
     }

     #feature .fe-box {
        
    margin: 15px 15px;
        
    }

    #mobiles .procontainor {
       justify-content: space-around;
       
    }

    #banner {
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
        line-height: 60px;
        background-image: url("Assets/banner70off.jpg");
        background-size: cover;
        background-position: center;
        height: 30vh;
    }

    #banner1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    #banner1 .bannerbox1 {
       height: 25vh;
       width: 35vh;
       min-width: 20%;
       border-radius: 5px;
       
       
    }

    #banner1 .bannerbox2 {
        height: 30vh;
       min-width: 100%;
        
    }

}


@media (max-width: 477px) {

    .selection-p1 {
        padding: 20px;
    }


    h2 {
        font-size: 30px;
        line-height: 54px;
        color: #222;
    }

    #header{
        padding: 10px 30px;
    }
   
 
    #hero {
        background-image: url("Assets/Back1.png");
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: 70%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .Nykaa {
        padding-top: 10px;
        height: 20vh;
        width: 100%;
    }
    
    #feature{
        justify-content: space-between;
    }

    #feature .fe-box {
       
        width: 145px;
       
        margin: 0 0 15px 0;
        
    }
    #banner {
        height: 40vh;
    }

    #banner1 .bannerbox1 {
        height: 27vh;
        width: 100%;
        min-width: 20%;
        border-radius: 5px;
    }

   

    #banner1 .bannerbox2 {
        display: none;

    }


    #newsletter {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url("Assets/newsletter.png");
        background-position: 20% 30%;
        flex-wrap: wrap;
        height: 200px;
        
    }

    #newsletter div form input {
        padding: 2px 8px;
        width: 200px;
        height: 35px;
        font-size: 14px;
        border-radius: 5px;
        background-color: #E3E6F3;
        color: #010606f6;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }



}



